@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="div-principal">
            <div class="text-principal">
                <h1>Soluções para</h1>
                <h2>Candidatos</h2>
                <p>
                    Amplie suas possibilidades! Cadastre seu currículo e aproveite os
                    <br /> recursos exclusivos que disponibilizamos para você gratuitamente
                </p>
                <div class="btn-size-lg btn-principal">
                    <button class="btn btn-primary btn-block" type="button">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blue-div">
    <p class="align-div blue-div-text">Confira nossas vagas disponíveis</p>
    <div>
        <table class="table table-borderless" id="listaVagas">
        </table>
    </div>
</div>
